.page {
    background-image: url(../img/background.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}

header {
    padding: 49px 0;
    margin-bottom: 46px;
}
.container {
    width: 1066px;
    margin: 0 auto;
}

.logo {
    float: left;
    text-decoration: none;
    font-size: 29px;
    text-transform: uppercase;
    padding-left: 62px;
    position: relative;
    color: white;
}

.logo::before {
    content: url(../img/logo.png);
    position: absolute;
    top: 1px;
    left: 0;
}

.logo h {
    font-weight: 700;
}

.logo p {
    font-size: 19px;
}

.logo:hover {
    color: #f26522;
}

.logo:hover::before {
    content: url(../img/logo-orange.png);
}

.contacts {
    float: right;
    color: white;
    text-align: right;
    font-size: 18px;
}

.contacts p {
      margin: 6px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.card {
    display: inline-block;
    height: 243px;
    width: 312px;
    text-decoration: none;
    margin-bottom: 57px;
    border: linear-gradient(to top, black, white);
    color: white;
    float: left;
}

.card:not(:nth-child(3n)) {
    margin-right: 65px;
}
.card_title {
    font-size: 18px;
    text-align: center;
    transition: 0.3s;
}

.card_img {
    height: 203px;
    background-size: cover;
    background-position: center; 
    margin-bottom: 23px;
    position: relative;
    overflow: hidden;
}
.card_img_1 {
    background-image: url(../img/card_1.png);
}

.card_img_2 {
    background-image: url(../img/card_2.png);
}

.card_img_3 {
    background-image: url(../img/card_3.png);
}

.card_img_4 {
    background-image: url(../img/card_4.png);
}

.card_img_5 {
    background-image: url(../img/card_5.png);
}

.card_img_6 {
    background-image: url(../img/card_6.png);
}

.card_details {
    background: #f26522;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 16px 21px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    top: 100%;
    transition: 0.3s;
}

.card:hover .card_title {
    color: #f26522;
}

.card:hover .card_details {
    top: 68%;
}

.card_text p:first-child {
    font-size: 10px;
    margin-bottom: 5px;
}

.card_text {
    font-size: 20px;
    text-align: left;
}

.details_btn {
    font-size: 14px;
    padding-right: 22px;
    position: relative;
}

.details_btn::before {
    content: url(../img/arrow.png);
    position: absolute;
    right: 0;
}

.copyright {
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 21px;
}

